:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;                     /* reset */
  min-height: 100dvh;            /* ensure full-height for background */
                  /* replaces the second margin */
  
}

.centered-content {
  
  background-color: aqua;
  margin: auto;
  width: 50%;
  height: 100dvh; /* height spans 100% of the view on the screen*/
                  /* height must be explicitly defined for child to refence it */


}

.searchbar-row {
   
  background-color: blueviolet;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     
}

#input-bar {
  
   
  height: 25%;
  width: 50%;
  border-radius: 10px;

}

#search-button {
  height:20%;
  margin-left: 10px;
  border-radius: 5px;
  background: #6b88f3;
  


}



