:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;                     /* reset */
  min-height: 100dvh;            /* ensure full-height for background */
                  /* replaces the second margin */
  
}

.centered-content {
  
  background-color: aqua;
  margin: auto;
  width: 50%;
  height: 100dvh; /* height spans 100% of the view on the screen*/
                  /* height must be explicitly defined for child to refence it */


/* search bar and button below */
                
}

#searchbar-row {
   
  background-color: blueviolet;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     
}

#input-bar {
  
   
  height: 25%;
  width: 50%;
  border-radius: 10px;
  

}

#search-button {
  height:20%;
  margin-left: 10px;
  border-radius: 5px;
  
  background-color: #a3b6fc;
  
  
  cursor: pointer;
  background-blend-mode: lighten;
  


}
#search-button:hover {

  filter:brightness(1.3);
}


/* color filter checkbox below */

.filter-row {   /* filter row is the parent of check box container and drop down container */

  display: flex;

}


.check-box-container {
  width: 50%;
  display: flex;
  flex-direction: column; /* vertical stacking of rows */
  gap: 6px;
  background-color: chartreuse;
  
}

.check-row {
  
  background-color: rgb(236, 191, 76);
  display: flex;
  padding-left: 10px;
  gap: 5px;
  height: 24px
}

.checkboxes {
 
  width: min-content; 
 


}

/* ////////////////////////// drop down box below */

.dropdown-container {

 
  height: 200px;
  background-color: darkkhaki;
  width:50%;
  
}

#card-type-dropdown {

  height: 100%;
  width:50%;
}

/*///////// results comp below */


#results-div {

  width: 100%;
  display: flex;
  height: min(200px, 30dvh);
  background-color: fuchsia;
}

#img-div {

  height: 100%;
  width: 30%;
  background-color: #a3b6fc;
  margin-left: 10%;

}


#description-div {

  height: 100%;
   width: 30%;
   margin-left: auto;
   background-color: #a3b6fc;
   margin-right: 10%;


}


